force-app/main/default/flows/IdAssignment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>createtask</name>
        <label>createtask</label>
        <locationX>903</locationX>
        <locationY>334</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>incvar</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>makenote</name>
        <label>makenote</label>
        <locationX>924</locationX>
        <locationY>573</locationY>
        <actionName>NewNote</actionName>
        <actionType>quickAction</actionType>
        <inputParameters>
            <name>Title</name>
            <value>
                <stringValue>{!incvar} items on {!$Flow.CurrentDateTime}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>anyassignment</name>
        <label>anyassignment</label>
        <locationX>700</locationX>
        <locationY>330</locationY>
        <assignmentItems>
            <assignToReference>int</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00109000002M1yRAAS</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createtask</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>count</name>
        <label>count</label>
        <locationX>704</locationX>
        <locationY>583</locationY>
        <assignmentItems>
            <assignToReference>somecount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>incvar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>makenote</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>valuebucketdecision</name>
        <label>valuebucketdecision</label>
        <locationX>399</locationX>
        <locationY>326</locationY>
        <defaultConnector>
            <targetReference>anyassignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>notzero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>incvar</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>incvar</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>50.0</numberValue>
                </rightValue>
            </conditions>
            <label>notzero</label>
        </rules>
        <rules>
            <name>morethan50</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>incvar</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>50.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>count</targetReference>
            </connector>
            <label>morethan50</label>
        </rules>
    </decisions>
    <interviewLabel>IdAssignment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IdAssignment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>310</locationY>
        <connector>
            <targetReference>valuebucketdecision</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>incvar</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>10.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>int</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>intlist</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>somecount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
