force-app/main/default/flows/MissingFaultPaths.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>testaction</name>
        <label>testaction</label>
        <locationX>176</locationX>
        <locationY>1766</locationY>
        <actionName>FeedItem.NewTaskFromFeedItem</actionName>
        <actionType>quickAction</actionType>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>anyassignment</name>
        <label>anyassignment</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>intlist</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>anyassignmenttest</name>
        <label>anyassignmenttest</label>
        <locationX>264</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>intlist</assignToReference>
            <operator>RemoveAll</operator>
        </assignmentItems>
        <connector>
            <targetReference>loopoverints</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>count</name>
        <label>count</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>intlist</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getAcc_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>testfault</name>
        <label>testfault</label>
        <locationX>440</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>int</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>testDecision</name>
        <label>testDecision</label>
        <locationX>176</locationX>
        <locationY>1430</locationY>
        <defaultConnector>
            <targetReference>testSubFlow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>testOutcome</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>intlist</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>testSubFlow</targetReference>
            </connector>
            <label>testOutcome</label>
        </rules>
    </decisions>
    <interviewLabel>MissingFaultPaths {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MissingFaultPaths</label>
    <loops>
        <name>loopoverints</name>
        <label>loopoverints</label>
        <locationX>176</locationX>
        <locationY>878</locationY>
        <collectionReference>intlist</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>anyassignmenttest</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>testPause</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>createExample_0</name>
        <label>createExample</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>updateExample_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>test1234</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>delete</name>
        <label>delete</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>loopoverints</targetReference>
        </connector>
        <faultConnector>
            <targetReference>testfault</targetReference>
        </faultConnector>
        <inputReference>getAcc_0</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>getAcc_0</name>
        <label>getAcc</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>createExample_0</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateExample_0</name>
        <label>updateExample</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>delete</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>anyassignment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>testSubFlow</name>
        <label>testSubFlow</label>
        <locationX>176</locationX>
        <locationY>1646</locationY>
        <connector>
            <targetReference>testaction</targetReference>
        </connector>
        <flowName>secondaryflow</flowName>
    </subflows>
    <variables>
        <name>incvar</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>10.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>int</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>intlist</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>somecount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <waits>
        <name>testPause</name>
        <label>testPause</label>
        <locationX>176</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>testDecision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>testp</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>testDecision</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
            </inputParameters>
            <label>testp</label>
        </waitEvents>
    </waits>
</Flow>
