force-app/main/default/flows/secondaryflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>createevent</name>
        <label>createevent</label>
        <locationX>896</locationX>
        <locationY>111</locationY>
        <actionName>NewEvent</actionName>
        <actionType>quickAction</actionType>
        <inputParameters>
            <name>IsAllDayEvent</name>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>incvar</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EndDateTime</name>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StartDateTime</name>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>anyotherassignment</name>
        <label>anyotherassignment</label>
        <locationX>693</locationX>
        <locationY>106</locationY>
        <assignmentItems>
            <assignToReference>int</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createevent</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>valuebucketdecision</name>
        <label>valuebucketdecision</label>
        <locationX>399</locationX>
        <locationY>326</locationY>
        <defaultConnector>
            <targetReference>anyotherassignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>notzero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>incvar</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>incvar</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>50.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>anyotherassignment</targetReference>
            </connector>
            <label>notzero</label>
        </rules>
        <rules>
            <name>morethan50</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>incvar</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>50.0</numberValue>
                </rightValue>
            </conditions>
            <label>morethan50</label>
        </rules>
    </decisions>
    <interviewLabel>secondaryflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>secondaryflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>310</locationY>
        <connector>
            <targetReference>valuebucketdecision</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>incvar</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>10.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>int</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>intlist</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>somecount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
